<div class="container">
	<img style="border-radius: 35px;width: 100px;-webkit-user-select: none;margin: auto;cursor: zoom-in;height: 100px;" src="https://avatars3.githubusercontent.com/u/57510216?s=400&amp;u=048705692f734ef07dc71787aeca3f9dc218ec27&amp;v=4" width="100" height="100">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<a class="post-link" href="/">
				<h3 class="post-title">Inicio</h3>
			</a>
        <a class="post-link" href="/">
				<h3 class="post-title">Sobre Mi</h3>
			</a>
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="icon-twitter-squared"></i></li></a>
		{%- endif -%}
	</ul>
</div>
